.jumbotron {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#dice_report {
  font-size: smaller;
  font-family: monospace;
}

/* For hidden-field errors. */
.error {
  color: #a94442;
}

/*
#git_version_box {
    position:relative;
}
*/
#git_version {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    color: lightgray;
    font-size: small;
}
