{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}{{ config['SITE_NAME'] }}{% endblock %}

{% block scripts -%}
  {{super()}}
  <script async="" src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js"></script>
  <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/5ed507ef8aa53d8ecfea96d96bc7214cd2476fd2/FileSaver.min.js"></script>
  <script async="" src="/static/fileupdown.js"></script>
{%- endblock %}

{%- block content -%}
  <div class="container">
    <div class="jumbotron">
      <h1>{{ config['SITE_NAME'] }}</h1>
      {{ config['SITE_DESC'] }}
    </div>
    <form action="" method="post" class="form form-horizontal" role="form">
      {%- set button_map = {
        'check': 'primary',
        'submit': 'success',
      }-%}
      {%- set form_type = "basic" -%}

      <div class="row">
        <div class="col-md-6 col-left">
          {{ wtf.form_field(form.sender,
                            form_type=form_type) }}
        </div>
        <div class="col-md-6 col-right">
          {{ wtf.form_field(form.stamp_recipients,
                            form_type=form_type) }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-left">
          <div id="upload-spinner", class="spinner hidden"></div>
        </div>
        <div class="col-md-11 col-right">
          <label id="upload-label">Upload dice-report:
            <input type="file" class="btn" id="upload-filename" style="display: inline-block;"/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{ wtf.form_field(form.dice_report,
                            form_type=form_type) }}
        </div>
      <div class="row">
        <div class="col-md-12">
          <label id="download-label">Download as:
            <input type="text" class="filename" id="download-filename"
              placeholder="stamp.txt"/>
          </label>
          <input type="button" id="download-btn" class="btn" value="Save" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{ wtf.form_errors(form, hiddens='only') }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{ form.hidden_tag() }}
        </div>
      </div>

      <div class="row well well-md">
        {{ wtf.form_field(form.repeat_dice,
                          form_type=form_type) }}
        <div class="btn-group">
          {{ wtf.form_field(form.check,
                            form_type=form_type,
                            button_map=button_map) }}
          {{ wtf.form_field(form.submit,
                            form_type=form_type,
                            button_map=button_map) }}
          <a href='{{request.url}}' class="btn btn-default">3: New stamp...</a>
        </div>
      </div>
    </form>
  </div>

  {{utils.flashed_messages(messages)}}
{%- endblock %}
