<html>
<head>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf8"
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="js/vendor/jquery.ui.widget.js"></script>
    <script src="js/jquery.iframe-transport.js"></script>
    <script src="js/jquery.fileupload.js"></script>
    <script src="js/download.js"></script>
</head>
<body>
<input id="upload" type="file" name="files" data-url="/upload" multiple
       accept=".xlsx" style="display:none">
<div id="progress">
    <div class="bar"
         style="width: 0%; display:none; height: 18px; background: green;"></div>
</div>
{% for table in ["inputs", "outputs"] %}
    <table id="{{ table }}" class="display" style="width:100%">
        <thead>
        <tr>
            <th>{{ table }}</th>
            <th>size</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>{{ table }}</th>
            <th>size</th>
        </tr>
        </tfoot>
    </table>
{% endfor %}
<div id="logs">
    <ul></ul>
</div>
</body>
<script type="text/javascript" charset="utf-8">

    class Logs {
        constructor(url, tabs) {
            this.socket = io.connect(url);
            this.logs = {};
            this.n = {};
            this.tabs = tabs;
            $(tabs).tabs();
            let self = this;
            self.socket.on('connect', function () {
                Object.keys(self.logs).forEach(function (k) {
                    self.updateLog(k)
                });
            });
            self.socket.on('update', function (log, i) {
                let index = self.logs[log];
                if (index !== undefined && i > index)
                    self.updateLog(log);
            });
            self.socket.on('task', function (task) {
                self.addLog(task);
            });
        }

        updateLog(log) {
            this.socket.emit(
                'get_log', log + '.log', this.logs[log],
                this.appendLog.bind(this, log, this.n[log])
            );
        }

        addLog(log) {
            this.logs[log] = 0;
            this.n[log] = 0;
            $("<li><a href='#" + log + "'>" + log + "</a></li>").appendTo(
                this.tabs + " .ui-tabs-nav"
            );
            $(this.tabs).append(
                "<div id='" + log + "' style='white-space: pre-wrap'></div>"
            );
            $(this.tabs).tabs("refresh");
            this.updateLog(log)
        }

        appendLog(log, n, data, i) {
            this.logs[log] = i;
            data = data.slice(this.n[log] - n);
            this.n[log] += data.length;
            $("#" + log).append(data.join(''));
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#upload').fileupload({
            done: function (e, data) {
                inputs.ajax.reload();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css({
                    width: progress + '%',
                    display: "block"
                });
                if (progress === 100) {
                    $('#progress .bar').css({display: "none"});
                }

            }
        });
        let inputs = $('#inputs').DataTable({
                dom: 'Bfrtip',
                ajax: "/folder/inputs",
                columns: [
                    {"data": "fname"},
                    {"data": "fsize"},
                ],
                buttons: [
                    {
                        text: 'Refresh',
                        action: function (e, dt, node, config) {
                            dt.ajax.reload();
                        }
                    },
                    {
                        text: 'Upload',
                        action: function (e, dt, node, config) {
                            upload.click();
                            dt.ajax.reload();
                        }
                    },
                    {
                        extend: 'selected',
                        text: 'Remove',
                        action: function (e, dt, node, config) {
                            let files = Array.from(dt.rows({selected: true}).data().map(function (v) {
                                    return v.fname
                                })),
                                msg = 'Are you sure you want to process the following files?\n\n' + files.join('\n');
                            if (confirm(msg)) {
                                $.ajax({
                                    url: "/delete",
                                    type: "POST",
                                    data: JSON.stringify({
                                        'folder': 'inputs',
                                        'files': files
                                    }),
                                    contentType: "application/json; charset=utf-8",
                                    success: function (result) {
                                        dt.ajax.reload();
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                });
                            }
                        }
                    },
                    'selectAll',
                    'selectNone',
                    {
                        extend: 'selected',
                        text: 'Run',
                        action: function (e, dt, node, config) {
                            let files = Array.from(dt.rows({selected: true}).data().map(function (v) {
                                    return v.fname
                                })),
                                msg = 'Are you sure you want to process the following files?\n\n' + files.join('\n');
                            if (confirm(msg)) {
                                $.ajax({
                                    url: "/run",
                                    type: "POST",
                                    data: JSON.stringify({
                                        'folder': 'inputs',
                                        'files': files
                                    }),
                                    contentType: "application/json; charset=utf-8",
                                    success: function (result) {
                                        outputs.ajax.reload();
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                });
                            }
                        }
                    },
                    {
                        text: 'Stop',
                        action: function (e, dt, node, config) {

                        }
                    }
                ],
                select: true
            }),
            outputs = $('#outputs').DataTable({
                dom: 'Bfrtip',
                ajax: "/folder/outputs",
                columns: [
                    {"data": "fname"},
                    {"data": "fsize"},
                ],
                buttons: [
                    {
                        text: 'Refresh',
                        action: function (e, dt, node, config) {
                            dt.ajax.reload();
                        }
                    },
                    {
                        extend: 'selected',
                        text: 'Download',
                        action: function (e, dt, node, config) {
                            let files = Array.from(dt.rows({selected: true}).data().map(function (v) {
                                    return v.fname
                                })),
                                msg = 'Are you sure you want to delete the following files?\n\n' + files.join('\n');
                            if (confirm(msg)) {
                                $.ajax({
                                    url: "/download",
                                    type: "POST",
                                    data: JSON.stringify({
                                        'folder': 'outputs',
                                        'files': files
                                    }),
                                    xhrFields: {
                                        responseType: 'blob'
                                    },
                                    contentType: "application/json; charset=utf-8",
                                    success: download.bind(true, "application/zip", "archive.zip"),
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                        dt.ajax.reload();
                                    }
                                });
                            }
                        }
                    },
                    'selectAll',
                    'selectNone',
                    {
                        extend: 'selected',
                        text: 'Remove',
                        action: function (e, dt, node, config) {
                            let files = Array.from(dt.rows({selected: true}).data().map(function (v) {
                                    return v.fname
                                })),
                                msg = 'Are you sure you want to delete the following files?\n\n' + files.join('\n');
                            if (confirm(msg)) {
                                $.ajax({
                                    url: "/delete",
                                    type: "POST",
                                    data: JSON.stringify({
                                        'folder': 'outputs',
                                        'files': files
                                    }),
                                    contentType: "application/json; charset=utf-8",
                                    success: function (result) {
                                        dt.ajax.reload();
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                });
                            }
                        }
                    }
                ],
                select: true
            }),
            logs = new Logs(
                'http://' + document.domain + ':' + location.port, '#logs'
            );
    });
</script>
</html>