{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}co2mpas-stamper{% endblock %}

{% block content %}
  <div class="container">
      <div class="jumbotron">
        <h1>co2mpas web stamper</h1>
      </div>
  <div class="col-md-12">
    <form action="" method="post" class="form form-horizontal" role="form">
      {%- set button_map = {
        'check': 'secondary',
        'submit': 'primary',
        'new_stamp': 'info'}-%}
      {%- set form_type = "basic" -%}

      {{ wtf.form_field(form.stamp_recipients,
                        form_type=form_type,
                        button_map=button_map) }}
      {{ wtf.form_field(form.dice_report,
                        form_type=form_type,
                        button_map=button_map) }}
      {{ wtf.form_field(form.repeat_dice,
                        form_type=form_type,
                        button_map=button_map) }}

      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens='only') }}

      {{ wtf.form_field(form.check,
                        form_type=form_type,
                        button_map=button_map) }}
      {{ wtf.form_field(form.submit,
                        form_type=form_type,
                        button_map=button_map) }}
      <a href='{{request.url}}' class="btn btn-info">New stamp...</a>
    </form>
  </div>

  {{utils.flashed_messages(messages)}}
{%- endblock %}
