{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}co2mpas-stamper{% endblock %}

{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>co2mpas web stamper</h1>
        <p class="bg-info">Note: Stamping <em>Dice-reports</em> from
           <abbr title="Communicate your PGP Public Key with JRC.">known public-keys</abbr>
           only.</p>
        <p class="bg-warning">Under construction, as of 12-Sept-2017.</p>
      </div>
   <div class="col-md-12">
     {{wtf.quick_form(form, novalidate=False, form_type="horizontal")}}
     {% if 'dice_stamp' in session %}
     <a href='.' class="btn btn-info">New stamp...</a>
     {% endif %}
   </div>

  {{utils.flashed_messages(messages)}}
{%- endblock %}
