.jumbotron {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  /* same width as form controls (have this) */
  margin-left: -15px;
  margin-right: -15px;

}

#dice_report {
  font-size: xx-small;
  font-family: monospace;
}

#download-machine {
    text-align: right;
}

/* For hidden-field errors. */
.error {
  color: #a94442;

}

/** Button group */
.row.well {
    text-align: left;
}
.row.well .checkbox {
    display: inline-block;
}

.flashed-messages .row {
    /* Without margins, smaller than form. */
    margin-left: -30px;
    margin-right: -30px;
}

.col-md-6.col-left {
    padding-right: 20px;
}
.col-md-6.col-right {
    padding-left: 20px;
}

#git_version_box {
    position:relative;
}
#git_version {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    color: lightgray;
    font-size: small;
}

/* Adapted from: https://www.w3schools.com/howto/howto_css_loader.asp */
.spinner {
    display: inline-block;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-bottom: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
