## uWSGI configuration for launching stamper
#
#  Adapted from: https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-uwsgi-and-nginx-on-ubuntu-16-04
#  and: https://uwsgi-docs.readthedocs.io/en/latest/Configuration.html?highlight=configuration

[uwsgi]
chdir = %d
swgi = true
module = wsgi:app

master = true
processes = 1

socket = webstamp.sock
chmod-socket = 660
vacuum = true

die-on-term = true

log-4xx = true
log-5xx = true
log-big = true
log-slow = 21000  #msec
