# -*- coding: utf-8 -*-
# !/usr/bin/env python
#
# Copyright 2014-2017 European Commission (JRC);
# Licensed under the EUPL (the 'Licence');
# You may not use this work except in compliance with the Licence.
# You may obtain a copy of the Licence at: http://ec.europa.eu/idabc/eupl
#
## Sample WSGI file (i.e. for Apache2)
#
#  NOTE: Move it to the parent of `webstamp` dir.

import os.path as osp
import sys

mydir = osp.dirname(__file__)
sys.path.insert(0, mydir)

import webstamp
application = webstamp.create_app(logconf_file=osp.join(mydir, 'logconf.yaml')
