flask-appconfig>=0.10
flask-bootstrap
flask-debug
flask-wtf
ruamel.yaml
validate_email
py3DNS; os_name != 'nt'
boltons             ## for boltons.setutils.IndexedSet
raven               ## For Sentry error-mail aggregation
blinker             ##      ^       ^       ^       ^
