#co2mpas            ## Commented-out to prevent dep conflicts
flask-appconfig>=0.10
flask-bootstrap
flask-debug
flask-wtf
ruamel.yaml
validate_email
py3DNS; os_name != 'nt'
boltons             ## for boltons.setutils.IndexedSet
raven[flask]        ## For Sentry error-mail aggregation
