#co2mpas            ## Commented-out to prevent dep conflicts
#mod-wsgi           ## In case it is not install by apt/apk
polyversion>=0.2.2a0
Flask>=1.0
flask-bootstrap
flask-debug
flask-wtf
ruamel.yaml
validate_email
py3DNS; os_name != 'nt'
boltons             ## for boltons.setutils.IndexedSet
raven[flask]        ## For Sentry error-mail aggregation
